
/target/
!.mvn/wrapper/maven-wrapper.jar
target
### STS ###
.apt_generated
.classpath
.factorypath

*/target
*/.settings
*/.classpath
*/.project
.project
.settings
/.idea
*.iml
/.metadata/
/.recommenders/
.recommenders
*.log
Thumbs.db
*/.idea/
*/.gradle/
